In [5]:
import os
from dotenv import load_dotenv
load_dotenv(".env")


import psycopg2
USER_PSQL = os.environ.get("POSTGRESQL_LOCAL_USER")
PASSWORD_PSQL = os.environ.get("POSTGRESQL_LOCAL_PASSWORD")
db_name = "course"
conn = psycopg2.connect(user=USER_PSQL, password=PASSWORD_PSQL,dbname=db_name, host="localhost", port="5432")

import pymongo
USER_MONGODB = os.environ.get("MONGO_DB_USER")
PASSWORD_MONGODB = os.environ.get("MONGO_DB_PASSWORD")

############ ATTENTION : ygpq3bw est la valeur pour ma connexion, vous devez mettre la vôtre
uri = f"mongodb+srv://{USER_MONGODB}:{PASSWORD_MONGODB}@cluster0.ygpq3bw.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.mongo_client.MongoClient(uri)

# Création tables SQL

In [6]:
cur = conn.cursor()
    
cur.execute("DROP TABLE IF EXISTS notebook CASCADE;")
cur.execute("DROP TABLE IF EXISTS tp CASCADE;")
cur.execute("""
    CREATE TABLE tp (
        tp_id SERIAL PRIMARY KEY, 
        tp_name VARCHAR(255)
    );
""")

cur.execute("""
    CREATE TABLE notebook (
        notebook_id SERIAL PRIMARY KEY,
        tp_id INTEGER,
        notebook_name varchar(255),
        FOREIGN KEY (tp_id) REFERENCES tp(tp_id)
    );
""")

cur.execute("INSERT INTO tp (tp_name) VALUES ('tp1')")
cur.execute("INSERT INTO tp (tp_name) VALUES ('tp2')")

cur.execute("""
            INSERT INTO notebook (tp_id, notebook_name) VALUES
            (1, '0_sql_intro_northwind.ipynb'),
            (1, '1_rapatrier_et_filtrer.ipynb'),
            (1, '2_exercices.ipynb'),
            (1, '3_corriges.ipynb'),
            (2, '0_jointures_aggregation_sets.ipynb'),
            (2, '1_exercices_jointures_aggregation_sets.ipynb'),
            (2, '2_corriges.ipynb'); """)

# INNER Join doit donner le même résultat dans ce cas
cur.execute("""
    CREATE VIEW tp_and_notebook AS
    SELECT n.notebook_id, n.tp_id, n.notebook_name, t.tp_name
    FROM notebook n
    LEFT JOIN tp t ON n.tp_id = t.tp_id;
""")

# Création BDD Mongo & Collections

In [19]:
db = client["course"]
tp_collection = db["tp"]
notebook_collection = db["notebook"]

# Récupération tp + insertion

In [7]:
cur.execute("SELECT * FROM tp")
tp_list_of_tuples = cur.fetchall()   
tp_docs = [
    dict(zip(['tp_id', 'tp_name'], row)) for row in tp_list_of_tuples
]
tp_collection.insert_many(tp_docs)

# Récupération Notebook + Insertion

In [20]:
cur.execute("SELECT * FROM notebook")
notebook_list_of_tuples = cur.fetchall() 
notebook_docs = [
    dict(zip(['notebook_id', 'tp_id', 'notebook_name'], row)) for row in notebook_list_of_tuples
]
notebook_collection.insert_many(notebook_docs)

# Vérification des collections avec pandas

In [29]:
import pandas as pd
notebook_df = pd.DataFrame.from_records(notebook_collection.find())
notebook_df

,_id,notebook_id,tp_id,notebook_name
0,6555fedcf4881b443aafafd9,1,1,0_sql_intro_northwind.ipynb
1,6555fedcf4881b443aafafda,2,1,1_rapatrier_et_filtrer.ipynb
2,6555fedcf4881b443aafafdb,3,1,2_exercices.ipynb
3,6555fedcf4881b443aafafdc,4,1,3_corriges.ipynb
4,6555fedcf4881b443aafafdd,5,2,0_jointures_aggregation_sets.ipynb
5,6555fedcf4881b443aafafde,6,2,1_exercices_jointures_aggregation_sets.ipynb
6,6555fedcf4881b443aafafdf,7,2,2_corriges.ipynb
7,6555ff28f4881b443aafafe0,1,1,0_sql_intro_northwind.ipynb
8,6555ff28f4881b443aafafe1,2,1,1_rapatrier_et_filtrer.ipynb
9,6555ff28f4881b443aafafe2,3,1,2_exercices.ipynb
10,6555ff28f4881b443aafafe3,4,1,3_corriges.ipynb
11,6555ff28f4881b443aafafe4,5,2,0_jointures_aggregation_sets.ipynb
12,6555ff28f4881b443aafafe5,6,2,1_exercices_jointures_aggregation_sets.ipynb
13,6555ff28f4881b443aafafe6,7,2,2_corriges.ipynb

In [30]:
import pandas as pd
tp_df = pd.DataFrame.from_records(tp_collection.find())
tp_df

                        _id  tp_id tp_name
0  6555fc8ef4881b443aafafd0      1     tp1
1  6555fc8ef4881b443aafafd1      2     tp2

# Affichage des données des deux collections

In [34]:
def print_tp_and_notebook():
    nbs = list(notebook_collection.find())
    tps = list(tp_collection.find())
    # On crée un dictionnaire par tp_id
    tps_per_tp_id = {tp["tp_id"]:tp for tp in tps} 

    # On itère sur les notebooks
    for nb in nbs:
        # On récupère le tp grâce au tp_id
        tp = tps_per_tp_id[nb["tp_id"]]
        data = tp | nb
        msg = f'tp_id: {data["tp_id"]} - tp_name: {data["tp_name"]}  -notebook_id: {data["notebook_id"]} - notebook_name: {data["notebook_name"]}'
        print(msg)

print_tp_and_notebook()

tp_id: 1 - tp_name: tp1  -notebook_id: 1 - notebook_name: 0_sql_intro_northwind.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 2 - notebook_name: 1_rapatrier_et_filtrer.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 3 - notebook_name: 2_exercices.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 4 - notebook_name: 3_corriges.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 5 - notebook_name: 0_jointures_aggregation_sets.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 6 - notebook_name: 1_exercices_jointures_aggregation_sets.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 7 - notebook_name: 2_corriges.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 1 - notebook_name: 0_sql_intro_northwind.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 2 - notebook_name: 1_rapatrier_et_filtrer.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 3 - notebook_name: 2_exercices.ipynb
tp_id: 1 - tp_name: tp1  -notebook_id: 4 - notebook_name: 3_corriges.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 5 - notebook_name: 0_jointures_aggregation_sets.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 6 - notebook_name: 1_exercices_jointures_aggregation_sets.ipynb
tp_id: 2 - tp_name: tp2  -notebook_id: 7 - notebook_name: 2_corriges.ipynb

In [35]:
# Psql
cur.close()
conn.close()

# Mongo
client.close()